<a class="footer__arrowup" href="#header"><img src="./assets/images/ico-arrow.svg" alt="arrow up"></a>
<section class="nav">
<nav class="firstbox">
    <ul>
        <li><a class="firstbox__link" href="https://adalab.es/">Articles</a></li>
        <li ><a class="firstbox__link" href="https://adalab.es/">Books</a></li>
        <li ><a class="firstbox__link" href="https://adalab.es/"> Events</a></li>
        <li ><a class="firstbox__link" href="https://adalab.es/">Reasons</a></li>
        <li ><a class="firstbox__link"href="https://adalab.es/">Tips</a></li>
    </ul>
    </nav>
    <nav class="secondbox">

    <ul >
        <li ><a class="secondbox__link" href="https://adalab.es/">Twitter</a></li>
        <li ><a class="secondbox__link" href="https://adalab.es/">Instagram</a></li>
        <li ><a class="secondbox__link" href="https://adalab.es/">Mastodon.social</a></li>
    </ul>
</nav>
</section>
<section class="small">
<small class="small__year">&copy; 2021</small>
<smal class="small__components">we <span class="small__components--heart">&hearts;</span>components</small>
