<a class="arrowup" href="./header.html"><img src="./assets/images/ico-arrow.svg" alt="arrow up"></a>
<nav>
    <ul class="firstnav">
        <li><a class="footer__link" href="https://adalab.es/">Articles</a></li>
        <li><a class="footer__link" href="https://adalab.es/">Books</a></li>
        <li><a class="footer__link" href="https://adalab.es/"> Events</a></li>
        <li><a class="footer__link" href="https://adalab.es/">Reasons</a></li>
        <li><a class="footer__link" href="https://adalab.es/">Tips</a></li>
    </ul>
</nav>
<nav>
    <ul class="secondnav">
        <li><a class="footer__link" href="https://adalab.es/">Twitter</a></li>
        <li><a class="footer__link" href="https://adalab.es/">Instagram</a></li>
        <li><a class="footer__link"href="https://adalab.es/">Mastodon.social</a></li>
    </ul>
</nav>
<section class="secondpart">
<small>&copy; 2021</small>
<small>we <span class="heart">&hearts;</span>components</small>
</section>