// fonts
$font-main: "Roboto", sans-serif;
$font-bold: "Roboto Slab", serif;

// colors
$Darkblue: #304268;
$colorBlack: #000000;
$Bluenight: #0271bc;
$Maintext: white;
$Lightblue: #8ccbea;
$Textgrey: #4a4a4a;
$Buttoncolor: #f26002;
$Iceblue: #eff9ff;
