// fonts
$font-main: "Roboto", sans-serif;
$font-bold: "Roboto Slab", serif;

// colors
$Darkblue: #304268;
$colorBlack: #000000;
$Bluenight: #0271bc;
$Maintext: white;
$Lightblue: #8ccbea;
$Textgrey: #4a4a4a;
$Buttoncolor: #f26002;
$iceBlue: #eff9ff;

//Mixins
@mixin footer-nav {
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@mixin footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  color: $Maintext;
  text-decoration: none;
  text-transform: uppercase;
}
