.footer {
  height: 500px;
  width: 100%;
  background-color: $Darkblue;
  @media all and (min-width: 768px) {
    height: 280px;
  }

  &__arrowup {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(-20px);
    animation-name: arrow;
    animation-iteration-count: 3;
    animation-duration: 3s;

    @keyframes arrow {
      0% {
        transform: translateY(200px);
      }

      100% {
        transform: translateY(-100);
      }
    }

    @media all and (min-width: 1200px) {
      width: 55px;
      height: 55px;
    }
  }
}

.nav {
  @include footer-nav;
}

.firstbox {
  @media all and (min-width: 768px) {
    order: 2;
  }
  &__link {
    @include footer-link;
    @media all and (min-width: 768px) {
      display: inline-flex;
      margin-right: 150px;
    }

    @media all and (min-width: 1200px) {
      font-size: 18px;
    }
  }
}

.secondbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  @media all and (min-width: 768px) {
    order: 3;
    margin-top: -70px;
  }

  &__link {
    @include footer-link;

    @media all and (min-width: 768px) {
      display: inline-flex;
    }

    @media all and (min-width: 1200px) {
      font-size: 18px;
    }
  }
}

.small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  @media all and (min-width: 768px) {
    order: 1;
    margin-top: -90px;
    @media all and (min-width: 1200px) {
    }
  }

  &__year {
    font-size: 14px;
    width: 290px;
    height: 30px;
    text-align: center;
    color: $Maintext;
    font-size: 14px;
    @media all and (min-width: 768px) {
      display: flex;
      padding-left: 50px;
      font-size: 16px;
    }
  }

  &__components {
    color: $Maintext;
    text-align: center;
    font-size: 14px;
    width: 290px;
    height: 30px;
    @media all and (min-width: 768px) {
      display: flex;
      padding-left: 50px;
      font-size: 16px;
    }

    &--heart {
      padding: 3px;
      color: $Buttoncolor;
    }
  }
}
