.footer {
  height: 465px;
  width: 100%;
  background-color: $Darkblue;
  @media all and (min-width: 768px) {
    height: 280px;
  }
}

.arrowup {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(-20px);
  @media all and (min-width: 1200px) {
    width: 55px;
    height: 55px;
    transform: translateY(-35px);
    
  }
}

.nav {
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.firstbox {
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    color: $Maintext;
    text-decoration: none;
    text-transform: uppercase;

    @media all and (min-width: 768px) {
      display: inline-flex;
      align-items: center;
      transform: translateX(-170px);
      margin-right: 90px;
      @media all and (min-width: 1200px) {
        transform: translate(-450px);
       font-size: 18px;}

    }
  }
}

.secondbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  @media all and (min-width: 768px) {
    margin-top: -60px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    color: $Maintext;
    text-decoration: none;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      display: inline-flex;
      align-items: center;
      transform: translateX(-80px);
      @media all and (min-width: 1200px) {
        transform: translateX(-400px);
        font-size: 18px;}
    }
  }
}

.small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  @media all and (min-width: 768px) {
    transform: translateY(-230px);
    margin-right: 560px;
  }

  &__year {
    font-size: 14px;
    width: 290px;
    height: 30px;
    text-align: center;
    color: $Maintext;
    font-size: 14px;
    @media all and (min-width: 768px) {
      display: flex;
      padding-left: 50px;
      font-size: 16px;
    }
  }

  &__components {
    color: $Maintext;
    text-align: center;
    font-size: 14px;
    width: 290px;
    height: 30px;
    @media all and (min-width: 768px) {
      display: flex;
      padding-left: 50px;
      font-size: 16px;
    }

    &--heart {
      padding: 3px;
      color: $Buttoncolor;
    }
  }
}
