.footer {
  height: 465px;
  width: 100%;
  background-color: $Darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    height: 240px;
  }
  @media all and (min-width: 1200px){

  }
}

.arrowup {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-35px);
  box-shadow: 10px 20px 100px $Darkblue;
  @media all and (min-width: 768px) {
    transform: translateY(95px);
    margin: auto;
    
    
  }
}

.firstnav {
  width: 73px;
  height: 150px;
  margin-bottom: 40px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @media all and (min-width: 768px) {
    transform: translateY(130px);
    margin-left: 0px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    @media all and (min-width: 768px) {
      display: inline-flex;
    }
    &--link {
      color: $Maintext;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.secondnav {
  height: 90px;
  width: 147px;
  @media all and (min-width: 768px) {
    transform: translate(200px);
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    @media all and (min-width: 768px) {
      display: inline-block;
    }

    &--link {
      color: $Maintext;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  @media all and (min-width: 768px) {
    transform: translateY(-250px);
    margin-right: 560px;
  }

  &__year {
    font-size: 14px;
    height: 20px;
    width: 77px;
    text-align: center;
    color: $Maintext;
    font-size: 14px;
  }

  &__components {
    color: $Maintext;
    text-align: center;
    font-size: 14px;
    width: 290px;
    height: 30px;

    &--heart {
      padding: 3px;
      color: $Buttoncolor;
    }
  }
}
