.hero {
  height: 100vh;
  max-width: 100%;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  &__title {
    font-family: $font-bold;
    font-size: 42px;
    width: 290px;
    height: 110px;
    font-weight: bold;
    margin: 240px 0 10px 15px;
    color: $Maintext;
    text-transform: uppercase;
    @media (min-width: 768px) {
      width: 690px;
      height: 212px;
      align-items: center;
      font-size: 80px;
      margin-top: 500px;
      transform: translateY(-80%);
      @media (min-width: 1200px) {
        font-size: 100px;
      }
    }

    &--text {
      width: 290px;
      height: 21px;
      margin: 10px 0 45px 15px;
      font-family: $font-main;
      font-size: 16px;
      color: $Maintext;
      align-items: center;
      @media (min-width: 768px) {
        width: 360px;
        height: 32px;
        font-size: 24px;
        transform: translateY(-550%);
        @media (min-width: 1200px) {
          margin-top: 70px;
        }
      }
    }
  }
}

.arrowdown {
  align-items: center;
  background-color: $Maintext;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 18px 12px 15.3px 13px;
  @media (min-width: 768px) {
    transform: translateY(-400%);
    @media (min-width: 1200px) {
      transform: translateY(-370%);
    }
  }
}
