.reasons {
  background-color: $Iceblue;
  font-family: "Roboto Slab", serif;
  height: 620px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  &__title {
    font-family: $font-bold;
    margin-top: 50px;
    font-size: 24px;
    line-height: 30px;
    grid-row: 1/2;
  }

  &__item1 {
    font-family: $font-bold;
    grid-row: 2/3;}

    &__item2{font-family: $font-bold;
        grid-row: 3/4;}

        &__item3{font-family: $font-bold;
            grid-row: 4/5;}

            &__item4{font-family: $font-bold;
                grid-row: 5/6;}
 
    }

.reasons__h3{ font-family: $font-bold;
    font-size:18px;}

.reasons__text{ font-family: $font-main;
font-size:18px;
margin-left: 70px;
margin-right: 70px;}

.reasonsbutton{ 
    background-color: $Buttoncolor;
    border: none;
    color: $Maintext;
    font-size: 20px;
    width: 184px;
    height: 45px;
    margin: 45px 53px 0;
    padding: 0 29.5px 0 30.5px;
    border-radius: 22.5px;}